/* GENERAL */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Homepage Tiles */

.tile {
    width: 30vw;
    margin: auto;
    padding: 5px;
    background-color: #fff;
    color: #333;
    text-align: center;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tile:hover {
    background-color: #1B9CFC;
    color: #fff;
}

.tile > div {
    overflow: hidden;
}

.tileLink:hover {
    cursor: pointer;
    color: white;
}

.tile:hover {
    cursor: pointer;
    background-color: #1B9CFC;
    color: white;
    transform: scale(.99);
}

.tile > h1 {
    margin-top: 1rem;
}

.tile > p {
    padding: 1rem;
    margin-bottom: 2rem;
}
/* WELCOME */
.welcome {
    padding: 2rem;
    width: 40vw;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /*background-color: #ffeaa7;*/
}

.welcome > h1,
.welcome > p {
    margin: 5px;
    padding: 5px;
}

.welcome > a {
    margin-bottom: 2rem;
}

.welcome-box-left,
.welcome-box-right {
    padding: 2rem;
    margin-top: 1.2rem;
    width: 20vw;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.link-important:hover {
    /*transform: scale(1.1);*/
    background-color: #1B9CFC;
}