/* NOTES */

.noteBox {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notesWrapper {
    width: 50%;
    margin-left: 5rem;
}

#textArea {
    width: 96%;
    height: 300px;
    color: #000;
    padding: 1rem;
    background-color: #fff;
    font-family: Tahoma, sans-serif;
    resize: none;
    border-radius: 10px;
    outline-color: white;
    border: 1px solid #fff;
    box-shadow: rgb(204, 219, 232) 1px 1px 6px 3px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#create_note_title {
    background-color: #fff;
    text-align: left;
    padding: 2px;
    border-radius: 10px;
    color: #1B9CFC;
    width: 100%;
    font-size: 25px;
    margin-bottom: 0.3rem;
}

.savedNotes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin-right: 3rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.noteTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #61dafb;
}

.noteTop > p {
    margin: 0;
    padding-left: 1.7rem;
    font-weight: bold;
    color: #fff;
}

.noteBody {
    padding: 5px;
    color: white;
    background-color: #61dafb;
}

.savedNotes > div > h2 {
    color: #1B9CFC;
    border-bottom: 1px solid #e74c3c;
}

.noteDiv-wrapper {
    display: flex;
    flex-direction: column;
}

.noteDiv {
    border-radius: 5px !important;
    margin: 12px 5px;
    box-shadow: rgba(100, 100, 100, 0.45) 0px 25px 20px -20px;
}

.noteDiv:hover {
    cursor: pointer;
}

.noteDiv > .noteTop > h4 {
    margin: 0;
    background-color: #efefef;
    color: #333;
    width: fit-content;
    padding: 3px;
    border-bottom-right-radius: 5px;
}

.savedNotes{
    background-color: #fff;
}


.textfield_btns_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.savedNotesRefreshBtn {
    align-self: center;
    border: none;
}

.textfield_btn:first-child{
    background-color: #e74c3c;
}
.textfield_btn:nth-child(2),
.refreshBtn{
    background-color: #1B9CFC;
}
.textfield_btn:first-child:hover,
.textfield_btn:nth-child(2):hover,
.refreshBtn:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: .2s;
}

.textfield_btn:first-child:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.textfield_btn:nth-child(2):hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.refreshBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.textfield_btn {
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
}

.refreshBtn{
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
