.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GENERAL */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item1 { grid-area: notes; }
.item2 { grid-area: saved; }

.center2 {
  display: grid;
  grid-template-areas:
    'saved saved notes notes notes notes notes notes'
    'saved saved notes notes notes notes notes notes'
    'saved saved notes notes notes notes notes notes';
  grid-gap: 10px;
  padding: 10px;
  width: 80%;
}

.createNote { grid-area: createNote; }
.myNotes { grid-area: myNotes; color: #333 }
.info { grid-area: info; }
.about { grid-area: about; }
.gettingStarted { grid-area: gettingStarted; }
.contact { grid-area: contact; }

.tiles {
  display: grid;
  grid-template-areas:
    'createNote createNote myNotes myNotes'
    'info info about about'
    'gettingStarted gettingStarted contact contact';
  grid-gap: 35px;
  padding: 20px;
  margin: auto;
  width: 75%;
}

.tiles2 {
  display: grid;
  grid-template-areas:
    ' gettingStarted gettingStarted contact contact '
    ' gettingStarted gettingStarted contact contact '
    ' gettingStarted gettingStarted contact contact ';
  grid-gap: 10px;
  padding: 20px;
  width: 75%;
}

.tile {
  height: 100%;
  margin: auto;
  padding: 5px;
  background-color: #fff;

  text-align: center;
  transition: .2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tile > div {
  overflow: hidden;
}

.tileLink {
  color: #000;
}
.tileLink:hover {
  cursor: pointer;
  color: white;
}

.tile:hover {
  cursor: pointer;
  background-color: #1B9CFC;
  color: white;
  //transform: scale(1.05);
}

.tile > h1 {
  margin-top: 1rem;
  color: #1B9CFC;
}

.tile > p {
  color: #2C3A47;
  padding: 1rem;
  margin-bottom: 2rem;
}

.link-important {
  text-decoration: none;
  color: #fefefe;
  padding: .5rem;
  border-radius: 4px;;
  background: #FEA47F;
  font-size: 15px;
  transition: .2s;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 .3rem 0 .3rem;
  width: auto;
  padding: .6rem;
  transition: .5s;
  border-radius: 5px;
}

.flex-container-inner > a:hover {
  background-color: #0984e3;
}

/* NAVIGATION */

.nav {
  background-color: #74b9ff;
}

.title {
  color: #fff;
  margin: 0 1rem 0 1rem;
}

/* WELCOME */
.welcome {
  margin-bottom: 5rem;
  /*background-color: #ffeaa7;*/
}

/* Homepage Tiles */

.link-important:hover {
  /*transform: scale(1.1);*/
  background-color: #F97F51;
}

/* NOTES */

.noteBox {
  width: 80%;
  padding: 10px;
  margin: 2rem auto;

}

.notesWrapper {
  margin: auto;
}

#textArea {

  width: 80%;
  height: 300px;
  color: #aaa;
  padding: 5px;
  margin: auto;
  background-color: #fff;
  font-family: Tahoma, sans-serif;
  resize: none;
  border-radius: 10px;
  outline-color: white;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#create_note_title {
  background-color: #fff;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 10px, rgb(255, 156, 85) 0px 0px 0px 2px, rgb(255, 85, 85) 0px 0px 0px 12px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  color: #1B9CFC;
  width: 30%;
  font-size: 25px;
}