# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jun_c\OneDrive\Desktop\Uni\Abschlussarbeit + Praxisphase\Bachelorarbeit\Single-Page-Application\bachelorarbeit-single-page-application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
